<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
	internalLogLevel="Warn"
    internalLogFile="E:\Visual Studio\FoodDelivery\FoodDelivery\Logs\internal.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" filename="E:\Visual Studio\FoodDelivery\FoodDelivery\Logs\nlog-all-${shortdate}.log"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>

		<target xsi:type="File" name="ownfile" filename="E:\Visual Studio\FoodDelivery\FoodDelivery\Logs\nlog-own-${shortdate}.log"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownfile" />
	</rules>

</nlog>